/* styles.css */
/* CSS Reset */
*{
  margin: 0;  
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}  

/* Add styles here to customize the appearance of your app */

.container{
  background-image: url(./public/8Wuslm.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 110vh;
}

.container > h1{
  color: white;
  text-align: center;
  font-size: 70px;
}

#log-out{
  cursor: pointer;
  background-color: rgba(172, 172, 172, 0.7);
  border: 0;
  height: 40px;
  width: 100px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 40px 45% 0px;
}

#log-out:hover{
  background-color: rgb(172, 172, 172);
}

.actions{
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.actions div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  color: white;
  background-color: rgba(69, 69, 69, 0.7);
  border-radius: 10px;
  box-shadow: 3px 3px 4px 10px white;
  cursor: pointer;
}

.actions div:hover{
  background-color: rgba(79, 79, 79, 0.8);
  box-shadow: 2px 2px 4px 10px grey;
}

.actions > a{
  text-decoration: none;
}

/* =============Log In============ */
#form{
  background-image: url(./public/Technology-Dekstop-Wallpapers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20%;
}

#form h1{
  font-size: 50px;
  color: white;
}

#already_user{
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

#already_user:hover{
  color: gray;
  font-weight: bolder;
  text-decoration: underline;
}

#form .back{
  color: gray;
  text-decoration: none;

}

#form p{
  margin-top: 30px;
  font-size: 30px;
  color: white;
}

#login_input{
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 2px solid rgb(6, 6, 118);
  height: 400px;
  width: 300px;
  background-color: rgba(58, 58, 58, 0.9);
  border-radius: 30px;
  padding: 30px;
  margin-top: 30px;
}

#login_input button{
  height: 40px;
  border-radius: 30px;
  background-color: blue;
  color: white;
  font-weight: bolder;
  border: 0px;
  margin-top: 20px;
}

#login_input button:hover{
  background-color: rgb(14, 14, 193);
  cursor: pointer;
}

#login_input a{
  text-align:center;
}

#create_new_account{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 18px;
}

#create_new_account:hover{
  color: grey;
}

#login_input input{
  width: 90%;
  height: 40px;
  margin: 0 auto;
  border-radius: 5px;
  color: blue;
  font-weight: bolder;
}

/* ========== Add Items Section=========== */
.item-page{
  background-image: url(./public/8Wuslm.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-page > h2{
  font-size: 30px;
  padding-top: 30px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  text-decoration: underline;
}

#item-page-back{
  text-align: center;
  color: rgb(181, 181, 181);
  text-decoration: none;
  margin-bottom: 25px;
  font-size: 20px;
}

#item-specs{
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(172, 172, 172, 0.6);
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
}

#item-specs input{
  height: 40px;
  font-weight: bolder;
  border: 3px solid white;
  border-radius: 10px;
}

#add-item{
  cursor: pointer;
  margin:20px auto 10px ;
  width: 50%;
  text-align: center;
  height: 30px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(23, 80, 179);
  box-shadow: 0 0 10px white;
  color: white;
  font-weight: bolder;
}

#add-item:hover{
  background-color: rgb(35, 103, 220);
}

#added-success{
  color: rgb(61, 180, 61);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/* ============== Get Users section ============ */
#user-page{
  background-image: url(./public/Technology-Dekstop-Wallpapers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

#user-page > h2{
  text-align: center;
  color: white;
  font-size: 45px;
  text-decoration: underline;
  padding: 50px;
}

#user-page > a{
  width: 100px;
  font-size: 25px;
  margin: 20px 45%;
  display: inline-block;
  color: rgb(168, 168, 168);
  text-decoration: none;
}

#users{
  margin: 50px auto;
  background-color: rgba(158, 158, 158, 0.5);
  border: 2px solid black;
  box-shadow: 0px 0px 15px white;
  height: auto;
  width: 900px;
  text-align: center;
  font-weight: bolder;
}

.view{
  color: greenyellow;
}

.view:hover{
  color: green;
}

#th{
  background-color: white;
}

td{
  height: 40px;
  min-width: 50px;
  border: 2px solid black;
  background-color: rgba(158, 158, 158, 0.5)
}

/* =========== Manage Items======== */
#items-page{
  min-height: 100vh;
  background-image: url(./public/abstract-5035778_1280.webp);
}

#items-page h1{
  text-align: center;
  color: white;
  font-size: 60px;
  padding-top: 40px;
}

#items-page div:first-of-type{
  text-align: center;
  margin-top: 30px;
}

#items-page a{
  align-self: center;
  display: inline-block;
  margin: 30px 0px 50px 30px;
  height: 30px;
  width: 100px;
  color: black;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
  background-color: white;
}

#items-page a:hover{
  background-color: gray;
}

#view_items{
  background-color: rgba(18, 18, 18, 0.7);
  margin: 20px auto 0px ;
  width: 800px;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 20px;
}

#view_items td{
  height: 50px;
}

.reder{
  cursor: pointer;
  background-color: red;
}
.reder:hover{
  background-color: rgb(255, 149, 149);
}

/* Media Queries */

@media screen and (max-width:900px) {
  .offers div{
    width: 38%;
    margin-top: 40px;
  }

  #form{
    flex-direction: column;
    text-align: center;
    gap: 10%;
  }
}

@media screen and (max-width:600px) {
  .offers div{
    min-width: 250px;
  }
  .actions{
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }

  #quote p{
    font-size: 30px;
  }

  .banner ul{
    display: none;
  }
}