/* CSS Reset */
*{
  margin: 0;  
  box-sizing: border-box;
}  

html {
  scroll-behavior: smooth;
}

body{

  width: 90%;
  margin: auto;
  color: white;
  background-color: black;
}
.container{
  background-color: red;
}

/* Header */
.banner{
  height: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner ul{
  display: flex;
}

.banner li{
  list-style-type: none;
  margin-right: 20px;
}